// --------------------------------------------------
//  Forms.
// --------------------------------------------------

.form_item {
    margin-bottom: 12px;
}
.label {
    font-weight: bold;
    display: block;
}
.label span {
    font-size: 0.8rem;
    font-weight: normal;
}
.textarea {
    resize: vertical;
}
.input-text {
    font-size: 0.9rem;
    border: 1px solid $border_color;
    background-color: $white;
    padding: 10px;
    width: 100%;
}
.checkbox {
    vertical-align: middle;
    display: inline-block;
    margin-right: 0.25rem;
}
.checkbox-label__text {
    vertical-align: middle;
}


// --------------------------------------------------
//  Buttons.
// --------------------------------------------------

.button {
    font-size: 0.9rem;
    color: $white;
    text-align: center;
    text-transform: capitalize;
    padding: 0 15px;
    margin: 0 2px 0 2px;
    height: 32px;
    display: inline-block;
    border: none;
    background: #02a3e2;
}
.button:hover {
    cursor: pointer;
}
.button_wrapper {
    width: 100%;
}
.button_wrapper_content input {
    float: right;
}
.button_wrapper_content a {
    color: #02a3e2;
    line-height: 32px;
}

.link--text {
    color: $black;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}