// --------------------------------------------------
//  Messages.
// --------------------------------------------------

.message a {
    color: #0074bd;
    text-decoration: none;
}
.message a:hover {
    text-decoration: underline;
}
.message {
    padding: 24px;
    margin: 12px 0;
    list-style: none;
    border-width: 0;
    border-left-width: 6px;
    border-style: solid;
}
.message-status {
    color: #002a40;
    border-color: #72bfe4;
    background-color: #eff9fe;
}
.message-success {
    color: #234600;
    border-color: #bbee77;
    background-color: #f8fff0;
}
.message-warning {
    color: #884400;
    border-color: #eedd55;
    background-color: #fffce5;
}
.message-error {
    color: #8c2e0b;
    border-color: #ffb2b3;
    background-color: #fffafa;
}