// --------------------------------------------------
//  Tables.
// --------------------------------------------------

.table {
	font-size: 0.9rem;
	width: 100%;
}
.table-row {
	border: 1px $border_color solid;
}
.table--striped {
	.table-row:nth-child(even) {
		background-color: #fff;
	}
}
th {
	text-align: left;
	background-color: #fff;
}
th,
td {
	line-height: 32px;
	padding: 6px 12px;
	vertical-align: top;
}
.crud_wrapper {
	visibility: hidden;
}
.table-row {
	&:hover .crud_wrapper {
		visibility: visible;
	}
}