.header {
    @include clearfix;
    border: 1px $border_color solid;
}
.header_content {
    @include clearfix;
    margin: 0.5rem 1.5rem;
    display: block;
}
.authorization {
    font-size: 0.9rem;
    float: right;
}