// --------------------------------------------------
//  Colors.
// --------------------------------------------------

$white: #fff;
$black: #000;
$off_white: #fafafa;


// --------------------------------------------------
//  Color assignment.
// --------------------------------------------------

$site_background: $white;
$page_background: $off_white;


// --------------------------------------------------
//  Type.
// --------------------------------------------------

$main_font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$root_font_size: 16px;
$line_height: 1.8em;
$root_font_weight: normal;


// --------------------------------------------------
//  Breakpoints
// --------------------------------------------------

$l: 960px;